/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

/* header style */

header{
    background-image: 
    url('/images/background1.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: scroll;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

nav #navbar-brand a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.7rem 0.3rem;
    color: #fff;
    font-weight: 600;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    margin-right: 5rem;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    margin: 10px;
    text-decoration: none;
    color: #fff;
    padding: 1.8rem 1rem;
    text-transform: uppercase;
    position: relative;
}

nav ul li a::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1px;
    left: 37%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.562);
    transition: all 1s;
}

nav ul li a:hover::after{
    color: #fff;
    width: 78%;
    left: 14%;
}
nav ul li a:hover{
    color: #fff;
}

.scrolled{
    background-color: #000;
    transition: all 1s;
}
nav #double-btn{
    border-left: 1px solid rgba(255, 255, 255, 0.534);
}

header .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12rem;
}

section #text h1{
    font-size: 4rem;
    padding: 0 13rem;
    color: #fff;
    font-weight: bolder;
}
section #banner #btn-grp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

/* Banner section ends */
/* winter section starts here */
main section #winter,
main section #digital{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #fff;
    width: 100%;
    text-align: center;
}

.top-text{
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

#winter #image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#winter #testimonial .col-md-3:hover .fas{
    margin-top: -1rem;
    transition: all 0.45s;
}

#winter #testimonial .fas{
    color: rgba(0, 0, 255, 0.699);
}
/* winter section ends here */

/* Degital design starts here */
.link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link li{
    list-style: none;
}
.link li a{
    color: #ccc;
    text-decoration: none;
    margin: 0.6rem;
}
.active-link{
    color: rgb(144, 143, 143);
}

.link a:hover{
    color: rgb(144, 143, 143);
    transition: all 0.3s ;
} 

#cards{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.card{
    overflow: hidden;
    background-color: #EDEEF0;
}
.main-div{
    overflow: hidden;
}

.img-div img{
    width: 100%;
}

.text-div{
    display: none;
    position: absolute;
    left: 35%;
    margin-top: 1rem;
}

.info-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.main-div:hover{
    transition: all 0.4s;
    margin-top: -7rem;
}
.main-div:hover .text-div{
    display: block;
    transition: ease-in-out 0.4s;
}

/* Degital design ends here */